<ion-header>
  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="main">
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <ion-item>
            <ion-label fixed>
              Default City
            </ion-label>
            <ion-input (keyup)="getQuery()" [(ngModel)]="searchStr" type="'text" value=""></ion-input>
          </ion-item>
          <p class="current">Current: {{defaultLocation}} </p>
          <button ion-button (click)="saveChanges()" block>Save Changes</button>
        </ion-list>
        <ion-list *ngIf="searchResults">
          <ion-item *ngFor="let searchResult of searchResults">
            <span (click)="setDefaultLocation(searchResult)">{{searchResult.name}}</span>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
